In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\gajendra singh\\OneDrive\\Desktop\\pandas\\placement.csv")

In [21]:
df.head()

,name,selling_price,km_driven,fuel,owner
0,Maruti 800 AC BSII,50000,100000,Petrol,Fourth & Above Owner
1,Maruti Gypsy E MG410W ST,95000,100000,Petrol,Second Owner
2,Mahindra Jeep CL 500 MDI,250000,35000,Diesel,Second Owner
3,Mahindra Jeep MM 540,200000,60000,Diesel,First Owner
4,Mahindra Jeep CL 500 MDI,150000,120000,Diesel,Third Owner

In [5]:
x =  df.drop(columns = ['placed'], axis=1)
y = df['placed']

In [6]:
from sklearn.model_selection import train_test_split

In [8]:
x_train , x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [9]:
from sklearn.ensemble import RandomForestClassifier

In [10]:
rf = RandomForestClassifier()

In [11]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [12]:
y_pred = rf.predict(x_test)

In [13]:
from sklearn.metrics import accuracy_score

In [14]:
accuracy_score(y_test,y_pred)

1.0

In [22]:
 df1=pd.read_csv('cars.csv' , usecols = ['name' , 'km_driven' , 'fuel' , 'owner' , 'selling_price'])

In [23]:
df1.head()

,name,selling_price,km_driven,fuel,owner
0,Maruti 800 AC BSII,50000,100000,Petrol,Fourth & Above Owner
1,Maruti Gypsy E MG410W ST,95000,100000,Petrol,Second Owner
2,Mahindra Jeep CL 500 MDI,250000,35000,Diesel,Second Owner
3,Mahindra Jeep MM 540,200000,60000,Diesel,First Owner
4,Mahindra Jeep CL 500 MDI,150000,120000,Diesel,Third Owner

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
lb = LabelEncoder()

In [27]:
df1['name'] = lb.fit_transform(df1['name'])

In [28]:
df1['fuel'] = lb.fit_transform(df1['fuel'])
df1['owner'] = lb.fit_transform(df1['owner'])

In [29]:
df1.head()

   name  selling_price  km_driven  fuel  owner
0   776          50000     100000     4      1
1   901          95000     100000     4      2
2   647         250000      35000     1      2
3   649         200000      60000     1      0
4   647         150000     120000     1      4

In [30]:
x = df1.drop(columns = ['name'], axis=1)
y = df1['name']

In [31]:
x_train , x_test, y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [32]:
rf = RandomForestClassifier()

In [33]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [34]:
y_pred = rf.predict(x_test)

In [35]:
accuracy_score(y_test , y_pred)

0.23617511520737328

In [36]:
from sklearn.ensemble import RandomForestRegressor

In [55]:
df2 = pd.read_csv("C:\\Users\\gajendra singh\\OneDrive\\Desktop\\pandas\\tips.csv")

In [56]:
df2.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [57]:
df2['sex'] = lb.fit_transform(df2['sex'])
df2['smoker'] = lb.fit_transform(df2['smoker'])
df2['day'] = lb.fit_transform(df2['day'])
df2['time'] = lb.fit_transform(df2['time'])

In [58]:
df2.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [59]:
x = df2.drop(columns=['tip'], axis =1)
y = df2['tip']

In [60]:
x_train , x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [61]:
rr = RandomForestRegressor()

In [62]:
rr.fit(x_train,y_train)

RandomForestRegressor()

In [63]:
y_pred = rr.predict(x_test)

In [66]:
from sklearn.metrics import r2_score

In [67]:
r2_score(y_test,y_pred)

0.25856695816300546

In [68]:
df3 = pd.read_csv("C:\\Users\\gajendra singh\\OneDrive\\Desktop\\pandas\\insurance.csv")

In [69]:
df3.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [70]:
df3['sex'] = lb.fit_transform(df3['sex'])
df3['smoker'] = lb.fit_transform(df3['smoker'])
df3['region'] = lb.fit_transform(df3['region'])

In [71]:
df3.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [72]:
x = df3.drop(columns=['charges'])
y = df3['charges']

In [73]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=42)

In [74]:
rr = RandomForestRegressor()

In [75]:
rr.fit(x_train, y_train)

RandomForestRegressor()

In [76]:
y_pred = rr.predict(x_test)

In [77]:
r2_score(y_test , y_pred)

0.8609123053792256